<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, por favor activa a túa conta</title>
</head>

<body>
	<p>Hi <b>{{.Username}}</b>, grazas por rexistrarte en {{AppName}}!</p>
	<p>Por favor fai click na seguinte ligazón para verificar a túa conta de correo electónico en <b>{{.ActiveCodeLives}} horas</b>:</p>
	<p><a href="{{AppURL}}user/activate?code={{.Code}}">{{AppURL}}user/activate?code={{.Code}}</a></p>
	<p>Non funciona? Proba a copiar e colar no teu navegador de internet.</p>
	<p>© 2017 <a target="_blank" href="{{AppURL}}">{{AppName}}</a></p>
</body>
</html>
