<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, please verify your e-mail address</title>
</head>

<body>
	<p>Ola <b>{{.Username}}</b>,</p>
	<p>Por favor fai click na seguinte ligazón para verificar o teu correo electrónico en <b>{{.ActiveCodeLives}} horas</b>:</p>
	<p><a href="{{AppURL}}user/activate_email?code={{.Code}}&email={{.Email}}">{{AppURL}}user/activate_email?code={{.Code}}&email={{.Email}}</a></p>
	<p>Non funciona? Proba a copiar e colar no teu navegador de internet.</p>
	<p>© 2017 <a target="_blank" href="{{AppURL}}">{{AppName}}</a></p>
</body>
</html>
