<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, welcome to {{AppName}}</title>
</head>

<body>
	<p>Ola <b>{{.Username}}</b>, este é o teu correo de confirmación para {{AppName}}!</p>
	<p>Agora podes ingresar co teu nome de usuario: {{.Username}}.</p>
	<p><a href="{{AppURL}}user/login">{{AppURL}}user/login</a></p>
	<p>© 2017 <a target="_blank" href="{{AppURL}}">{{AppName}}</a></p>
</body>
</html>
